body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#header {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_the_United_Nations.svg/2560px-Flag_of_the_United_Nations.svg.png);
  background-repeat: no-repeat;
  background-color: #009edb;
  background-position: -20vw;
  background-size: cover;
  color: white;
  font-size: 3vw;
  padding-top: 8vw; padding-bottom: 8vw;
}
  #header-title {
    margin-left: 50%;
  }

#search {
  margin: 20px;
}
  #search-selector {
    padding: 10px;
    border: gray solid thin;
    font-size: larger;
  }
    #selector-label {
      font-size: larger;
    }
  #search-bar {
    margin: 20px;
    padding: 10px;
    width: 50%;
    border: gray solid thin;
    border-radius: 50px;
    font-size: larger;
  }
  #search-button {
    padding: 10px;
    border: none;
    border-radius: 50px;
    background: #009edb;
    color: white;
    font-size: x-large;
    cursor: pointer;
  }

#result {
  margin: 5vw auto 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 75%;
}
  .territory {
    flex: 0 0 100%;
    margin: 1vw 0px 1vw 0px;
    max-width: 475px;
    background: #009edb;
    border-radius: 2vw;
  }
    .flag {
      margin-top: 5%;
      height: 10vmax;
    }
    .name {
      color: white;
      font-size: 200%;
    }
      #official-name {
        margin: -25px 0px 2vw 0px;
        font-size: 150%;
      }
    .info {
      margin-left: 5%;
      text-align: left;
      color: white;
      font-size: 150%;
    }
#error {
  font-size: 200%;
}
  #error p {
    font-size: 50%;
  }